*{
    margin: 0;
    padding: 0;
}
.abody{
    background: #F3F4F6;
    height: 105vh;
    justify-content: center;
    align-self: center;
    padding-top: 80px;
}
.cont{
    min-height: 50vh;
}
.one{
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
}
.one p{
    font-weight: lighter;
    width: 70%;
}
.one h2{
    width: 40%;
    padding-top: 70px;
}
.one img{
    padding-top: 30px;
    height: 300px;
    width: 500px;
}
.lm1{
    width: 210px;
    height: 45px;
    font-size: large;
    color: white;
    margin-left: 300px;
    cursor:pointer;
    border-radius: 15px;
    background-color: rgb(48, 162, 162);
}
.two{
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
}
.two p{
    font-weight: lighter;
    padding-left: 10px;
    width: 70%;
}
.two h2{
    padding-left: 70px;
    width: 40%;
    padding-top: 70px;
}
.two img{
    padding-top: 20px;
    height: 300px;
    width: 500px;
}
.lm2{
    width: 200px;
    margin-left: 900px;
    background-color: rgb(48, 162, 162);
    font-size: large;
    height: 40px;
    color: white;
    cursor:pointer;
    border-radius: 15px;
}