.contact{
    color: ababab;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background: #0000003a;
}
.row{
    display: flex;
}
.left{
    flex-basis: 35%;
}
.right{
    flex-basis: 60%;
}
.left p{
    margin-top: 30px;
}
.icons{
    margin-top: 30px;
    display: inline-block;
    
}
.icons a {
    text-decoration: none;
    font-size: 30px;
    color: #4f4b4b;
}
.icons a:hover{
    color: #ff004f;
}
.btn2{
    display: inline-block;
    background: #ff004f;
    color: white;
    border-radius: 6px;
    width: 100px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}
.btn2:hover{
    color: white;
}
.right form{
    width: 100%;
}
.queryform input,.queryform textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    color: #fff;
}
.copyright{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    background: #262626;
    color: white;
    font-weight: 300;
}
.copyright p{
    background-color: #262626;
}
nav .fa-solid{
    display: none;
}
@media only screen and(max-width :600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 13px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }
}