.userform{
  border: none; 
  background:#dd292991;
  position: absolute;
  top: 50%;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px; 
  border-radius: 20px;
}
.inputpost{
  width: 90%;
  border: 0;
  outline: none;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 20px;
  color: #000;
}
.userform textarea{
  height: 150px;
}
.submitform{
  height: 40px;
  width: 100px;
  margin-left: 190px;
  cursor: pointer;
  border: none;
  background:rgb(218, 154, 71);
  border-radius: 10px;
}