*{
    margin: 0;
    padding: 0;
}
.body2{
    background: #F3F4F6;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content{
    margin-top: 400px;
}
.body2 h2{
    margin-bottom: 40px;
    font-size: 30px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    cursor: pointer;
}
.grid img{
    height: 200px;
}
.grid img:hover{
    transform: rotate(10deg);
    opacity: 90%;
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); 
    }
    .grid img {
        height: auto;
        max-width: 100%; 
    }
}