*{
    margin: 0;
    padding: 0;
}
.babout {
    height: 105vh;
    background: #0000002b;
    padding-top: 120px;
    font-family: Arial, sans-serif;
    padding: 20px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    width: 60%;
    align-items: center;
}
.abouth2 {
    font-size: 40px;
    color: #333;
}
.aboutp {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}
.titles {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}
.title1 {
    cursor: pointer;
    margin-right: 20px;
    padding: 10px;
    font-size: 26px;
}
.title1.activetitle {
    color: rgb(228, 182, 14);
    border-bottom: 2px solid rgb(194, 157, 23);
}
.tab-content {
    display: none;
    font-size: 20px;
}
.tab-content.activecontent {
    display: block;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 15px;
}
span {
    font-weight: bold;
    margin-right: 5px;
    color: #333;
}
@media (max-width: 768px) {
    .titles {
    flex-direction: column;
    }
    .title1 {
    margin-right: 0;
    margin-bottom: 10px;
    }
    .tab-content {
    margin-top: 20px;
    }
}